STRAPI_USERNAME=mattjcowan
STRAPI_PASSWORD=
STRAPI_POSTS_DEFAULTUSER=kristinacowan
STRAPI_GLOBAL_REPLACE_FROM=http://kristinacowan.com,http://www.kristinacowan.com/,https://kristinacowan.com,https://www.kristinacowan.com
STRAPI_GLOBAL_REPLACE_TO=https://kristinacowan.com,https://kristinacowan.com,https://kristinacowan.com,https://kristinacowan.com
